@{
    ViewData["Title"] = "Celsius to Fahrenheit";
}

<div class="text-center">
    <h1 class="display-4">Convert Celsius to Fahrenheit  </h1>
    
</div>

<div class="text-center">   
    <form asp-action="CelsiusToFahrenheit">
        <label for="ftemp">Enter the temperature</label>
        <input type="text" id="ftemp" name="ftemp"><br><br>
        <input type="submit" value="Enter">
    </form>
</div>


<div class="text-center">
    <a asp-action="Index">Back to Home</a>
</div>