@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        font-size: 25px;
        font-family: georgia;
    }
    
</style>
<div class="text-center">
    <h1 class="display-4">Temperature Conversion App </h1>
    <p> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CelsiustoFahrenheit">Celsius to Fahrenheit</a></p>
    <p> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FahrenheitToCelsius">Fahrenheit to Celsius</a></p>
    
</div>
